<!--templates/base.html-->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">Hotel</span>
            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'home' %}">All Residence</a>
                </li>
                <li {% if section == "newResidence" %}class="selected"{% endif %}>
                    <a href="{% url 'residence_new' %}">New Residence</a>
                </li>
            </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello, {{ user.username }}!
                    <a href="{% url 'logout' %}">logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        <h1>Rental Estate Rental System</h1>
        <p>Real Estate Rental Management System is a web-based system to facilitate flatshare and finding roommates</p>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>